* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

.darkblue {
    background-color: #FAEDCD;
    padding: 2rem 4rem;
    margin: auto;
}

.logo {
    font-size: 24px;
    color: #BC6C25;
}

div>h1 {
    font-size: 56px;
    font-weight: 900;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 1rem 2rem;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 18px;
}

.nav li a {
    color: #BC6C25;
    text-decoration: none;
}

.nav li a:hover {
    text-decoration: underline;
}

.dashboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #606C38;
    padding: 3rem 12rem;
}

.first-column {
    flex: 1;
    padding: 1rem 7rem;
    margin: 0 auto;
}

.first-column h1 {
    padding: 0.5rem 0rem;
}

.first-column p {
    padding: 1rem 0rem;
}

.first-column button {
    padding: 0.5rem 2rem;
    margin: auto;
    background-color: #CCD5AE;
    color: #606C38;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.first-column img {
    max-width: 100%;
    height: auto;
}

.white {
    background-color: #D4A373;
    color: #FAEDCD;
    padding: 1rem 4rem;
    margin: auto;
}

.random-info {
    text-align: center;
}

.random-info h1 {
    padding: 2rem 4rem;
}

.card-list {
    padding: 4rem 0rem;
    margin: auto;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 300px;
}

.card-item p {
    padding: 1rem 4rem;
}

.square {
    width: 250px;
    aspect-ratio: 1 / 1;
    border: 5px solid #FAEDCD;
    border-radius: 30px;
    margin-bottom: 1rem;
}

.quote-section {
    background-color: #FAEDCD;
    padding: 10rem 14rem;
    margin: 0 auto;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #606C38;
}

.author {
    font-size: 24px;
    color: #606C38;
    font-weight: 900;
    text-align: end;
}


.cta {
    background-color: #606C38;
    padding: 4rem 8rem;
    margin: 10rem 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    gap: 10rem;
    color: #FAEDCD;
    border-radius: 10px;
    font-size: 18px;
}

.title {
    font-weight: 900;
    font-size: 24px;
}

.cta>button {
    background-color: transparent;
    color: #FAEDCD;
    border: 3px solid #FAEDCD;
    border-radius: 15px;
    padding: 1rem 2rem;
    font-weight: bold;
    cursor: pointer;
}

footer {
    background-color: #BC6C25;
    color: #FEFAE0;
    padding: 3rem 6rem;
    font-size: 18px;
    text-align: center;
}